<div class="event-card-link">
  <%= link_to event_path(day_event) do %>
    <% if day_event.user == current_user %>
      <div class="event-card-hosting">
      <%= render "inner_card", invitations_data: invitations_data, day_event: day_event %>

      </div>
    <% elsif invitations_data.include?([day_event.id, "accepted"]) %>
      <div class="event-card-hosting">
        <%= render "inner_card", invitations_data: invitations_data, day_event: day_event %>
      </div>
    <% elsif invitations_data.include?([day_event.id, "pending"]) %>
      <div class="event-card-pending">
        <%= render "inner_card", invitations_data: invitations_data, day_event: day_event %>
        <%= render "card_footer", invitations_data: invitations_data, day_event: day_event %>
      </div>
    <% end %>
  <% end %>
</div>

