<h1>Dashboard</h1>
  <% @created_ats.each do |day| %>
    <div class="date-box"> <%= day[0] %> </div>
    <div class="event-card-section">
    <% day[1].each do |day_event| %>
      <div class="event-card">
        <p>TITLE: <%=  day_event.title %></p>
        <p>TIME: <%= day_event.scheduled_at %></p>
        <p>LOCATION: <%=  day_event.location %></p>
        <p>ABOUT: <%= day_event.description %></p>
      </div>
    <% end %>
    </div>
  <% end %>

