<div class="headline" id="top-of-page"><h1>My Events</h1></div>

<div class="dashboard-container">
  <div class="event-card-section-container">
    <% if @created_ats.empty? %>
      <%= render "no_events_message" %>
    <% else %>
      <%= render "filter" %>
      <% @created_ats.each do |day| %>
        <div class="event-card-section content">
          <button type="button" class= "collapsible" id="today-anchor"> <%= day[0].strftime("%A, %b %d") %></button>
          <% day[1].each do |day_event| %>
            <% collapse_today = day_event.scheduled_at.today? ? "display: flex;" : "" %>
            <div style="<%= @active %> <%= collapse_today %>">
              <%= render "card_section", invitations_data: @invitations_data, day_event: day_event, active: @active %>
            </div>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
