<div class="message-container" id="sender" data-user-id="<%= current_user.id %>">
    <div class="chat-avatar" style="background-image: url('<%= message.user.avatar.attached? ? cl_image_path(message.user.avatar.key) : image_path("placeholder-avatar.png") %>')"></div> 
  <div class="message" id="message-<%= message.id %>">
    <div class="message-content">
      <%= message.content %>
    </div>
    <div class="message-username-time">
        <div class="message-username">
          <%= link_to user_path(current_user) do %>
            <%= message.user.full_name.strip.empty? ? "Nemo" : message.user.full_name %>
          <% end %>
        </div>
      <div class="message-time"><%= message.created_at.strftime("on %a %b %e at %l:%M %p") %>
  </div>
</div>
