<%= @user.first_name %>

<div class="container">
  <h1>Edit offer</h1>
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :avatar, as: :file, label: "Add a profile picture" %>
     <%= f.button :submit, 'Save changes', data: { confirm: "Confrim changes?" }, class: 'button-main' %>
    <%= link_to "Confirm changes", user_path(@user), method: :patch, data: { confirm: "Confrim changes?" }, class: 'button-main' %>
    
  <% end %>
</div>
