<div class='container'>
    <h2><strong> Register with host.it </strong></h2>
    <br>
    <%= simple_form_for @user do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :phone_mumber %>
    <%= f.input :banner, as: :file, label: "Please add a picture to your offer:" %>
    <br>
    <%= f.submit "Sign up", class: "btn devise-button" %>
    <% end %>
    <br>
  <div class="back">
    <%= link_to root_path do %><i class="fa fa-arrow-left"></i> BACK<% end %>
  </div>
</div>
