<div class="list-container"  >
  <div class="items-list">
    <% @event.items.each do |item| %>
      <div class="item-row">
        <%= link_to '✖️', item_path(item), method: :delete, title: 'Delete item from list', class: "item-delete-button", remote: true %>
      <div class="list-item-name"><%= item.name %></div>
      <% if item.user %>
          <div class="item-bringer"><%= item.user.first_name == nil ? "Somebody" : item.user.first_name %></div>
      <% else %>
        <%= button_to 'Bring.it', item_path(item), class:"bring-button", method: :patch, remote: true %>
      <% end %>
      </div>
    <% end %>
  </div>
  <div class="items-form">
    <%= simple_form_for [@event, Item.new], remote: true do |f| %>
    <div class="add-item">
      <%= f.input :name, :placeholder => "What do we need?", label: false %>
      <%= button_tag type: :submit, class: "add-button" do %>
        <i class="far fa-plus-square"></i>            
      <% end %>
    </div>
    <% end %>
  </div>
</div>

