<div class="navbar-hostit ">
  <div class="nav-line">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_host.it.svg" %>
    <% end %>
    <div class="nav-right">
      <% if user_signed_in? %>
        <div class="avatar-dropdown">
          <div id="nav-right-bell">
            <i class="far fa-bell"></i>
            <% if current_user.avatar.attached? %>
              <div class="avatar-card" style="background-image: url('<%= cl_image_path current_user.avatar.key %>')">
              </div>
            <% else %>
              <div class="avatar-card">
                <div class="no-avatar">?</div>
              </div>
            <% end %>
          </div>
          <div class="dropdown-content">
            <% if current_user.first_name || current_user.last_name %>
              <div id="user-name"><%= "#{current_user.first_name} #{current_user.last_name}"  %></div>
            <% end %>
            <div class="dropdown-links"><i class="far fa-user"></i><%= link_to "Profile", user_path(current_user) %></div>
            <div class="dropdown-links"><i class="far fa-calendar-plus"></i><%= link_to "Events", dashboard_index_path %></div>
            <div class="dropdown-links"><i class="far fa-calendar-alt"></i><%= link_to "Host event", new_event_path %></div> 
            <div class="dropdown-links", id="log-out-link" ><%= link_to "Log out", destroy_user_session_path, method: "delete" %></div>
          </div>
        </div>
      <% else %>
        <%= link_to "Log in", new_user_session_path, id: "sign-in-link" %>
        <%= link_to "Register", new_user_registration_path, id: "sign-up-link" %>
      <% end %>
    </div>
  </div>
</div>