<div class="event-details">
  <div class="section-header">The Details
  </div>
  <% if @event.is_invited?(current_user) %>
  <% status = @event.invitations.where(receiver: current_user).first.status %>
    <% if status == "accepted" || status == "declined" %>
      <div class="invitee-status-<%= status %>"><%= status.capitalize %></div>
    <% end %>
  <% end %>
  <div class="event-info">
    <% if @event.user == current_user || current_user.admin? %>
      <div id="event-edit-delete">
        <%= link_to edit_event_path(@event), title: "Edit event", id: "event-edit" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      <%= link_to event_path(@event), title: "Delete event", method: :delete, id: "event-delete" do %>
        <i class="fas fa-trash"></i>
      <% end %>
      </div>
    <% end %>
  <h1 id="event-title"><%= @event.title %></h1>
  <p id="event-time-location"><i class="fas fa-map-marker-alt"></i> <%= @event.location %> <i class="fas fa-clock"></i> <%= @event.scheduled_at.strftime("%d %b %Y") %> at <%= @event.scheduled_at.strftime("%H:%M %p") %></p>
  <p id="event-description"><%= @event.description %></p>
  </div>
  <div class="event-host">
    <h1 class="host-title event-title">Your Host</h1>
      <div class="host-avatar tilt" style="background-image: url('<%= @event.user.avatar.attached? ? cl_image_path(@event.user.avatar.key) : image_path("placeholder-avatar.png") %>')"></div>
    <div class="host-info">
      <div class="host-name"><%= link_to @event.user.full_name, user_path(@event.user) %></div>
      <% if current_user == @event.user %>
        <a href="" class="list-button button-invite">Invite friends</a>
      <% end %>
    </div> 
  </div>
</div>