 <div class="form-container">
  <%= simple_form_for @event do |f| %>
  <% if @event.banner.attached? %>
    <div class="event-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @event.banner.key %>')">
  <% else %>
    <div class="event-banner">
  <% end %>
    <%= f.input :banner, as: :file, label: false, input_html: { hidden: true, class: "real-upload" } %>
    <% if @event.banner.attached? %>
      <div class="button-create upload-button" id="upload-button">
      <i class="far fa-edit"></i>
      </div>
    <% else %>
      <div class="button-create upload-button" id="upload-button">
      Upload Banner
      </div>
    <% end %>
  </div>
    <div class="form-inputs-container">
    <div class="main-input">
      <%= f.input :title, label: false, input_html: { placeholder: "What?"} %>
      <%= f.input :location, label: false, input_html: { placeholder: "Where?"} %>
      <%= f.input :scheduled_at, as: :string, label: false, input_html: {class: "datepicker", placeholder: "When?" } %>
    </div>
    <%= f.input :description,label: false, input_html: {placeholder: "Describe what your event is about and what people can expect at the event" } %>
    <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
    <% if current_page?(new_event_path) %>
      <%= f.submit "Create Event", class: "button-create" %>
    <% else %>
      <%= f.submit "Update Event", class: "button-create" %>
    <% end %>
    </div>
  <% end %>
</div>