<div class="invite-modal">
  <div class="invite-content">
    <% if current_user == @event.user %>
    <div class="invite-form-container">
      <div class="invite-email-input">
        <%= simple_form_for [@event, @invitation] do |f| %>
          <%= f.input :receiver_email, label: false, placeholder: "Send invite via e-mail" %>
          <%= button_tag type: :submit, class: "invite-button" do %>
            <i class="far fa-paper-plane"></i>
          <% end %>
        <% end %>
      </div>
      <div class="invite-link-container">
        <div class="event-url"><%= "www.hostit.club/events/#{@event.id}" %></div>
        <div class="event-url-copy">Copy link</div>
      </div>
    </div>
    <hr>
    <% end %>
    <div class="invitations">
      <% @invitations.each do |invitation| %>
        <div class="invitee">
          <% if invitation.receiver %>
            <%= link_to "", user_path(invitation.receiver), class: "receiver-avatar", style: "background-image: url('#{ invitation.receiver.avatar.attached? ? cl_image_path(invitation.receiver.avatar.key) : image_path("placeholder-avatar.png") }')" %>
          <% else %>
            <div class="receiver-avatar">?</div>
          <% end %>
          <div class="invitee-info">
            <% if invitation.receiver && !invitation.receiver.full_name.strip.empty? %>
              <div class="receiver-fullname">
                <%= link_to "#{invitation.receiver.full_name }", user_path(invitation.receiver) %>
              </div>
              <div class="receiver-mail"><%= invitation.receiver.email %></div>
            <% else %>
              <%= invitation.receiver_email %>
            <% end %>
          </div>
          <div class="invitee-status">
            <% case invitation.status %>
            <% when "accepted" %>
              <div class="invitation-status-accepted">Accepted</div>
            <% when "pending" %>
              <div class="invitation-status-pending">Pending</div>
            <% when "declined" %>
              <div class="invitation-status-declined">Declined</div>
            <% end %>
          </div>
          <% if @event.user == current_user %>
          <div class="invite-delete">
            <%= link_to invitation_path(invitation), title: "Delete invitation", method: "delete" do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <button id="close-button"><i class="far fa-window-close"></i></button>
  </div>
</div>