<% if @event.banner.attached? %>
  <%#= cl_image_path @event.banner.key %>  
  <div class="event-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @event.banner.key %>')"> 
  </div>
<% else %>
  UPLOAD BANNER
<% end %>

<h1><%= @event.title %></h1>
<h2><%= @event.location %></h2>
<p><%= @event.scheduled_at %></p>

<p><%= @event.description %></p>

<%= link_to "Edit Event", edit_event_path(@event) %>
<%= link_to "Delete Event", event_path(@event), method: :delete %>

<%= render "shared/footer" %>