<div class="event-container">
  <% if @event.banner.attached? %>
    <div class="event-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @event.banner.key %>')"> 
  </div>
  <% else %>
    <% if @event.user == current_user || current_user.admin? %>
    <div class="event-banner">
      <%= link_to "Add banner", edit_event_path(@event), class: "button-create upload-button" %>
    </div>
    <% end %>
  <% end %>

  <div class="event-details">
    <div class="event-info">
      <% if @event.user == current_user || current_user.admin? %>
      <div id="event-edit-delete">
        <%= link_to edit_event_path(@event), title: "Edit event", id: "event-edit" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to event_path(@event), title: "Delete event", method: :delete, id: "event-delete" do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    <% end %>
    <h1 id="event-title"><%= @event.title %></h1>
    <p id="event-time-location"><i class="fas fa-map-marker-alt"></i> <%= @event.location %> <i class="fas fa-clock"></i> <%= @event.scheduled_at.strftime("%d %b %Y") %> at <%= @event.scheduled_at.strftime("%H:%M %p") %></p>
    <p id="event-description"><%= @event.description %></p>
    </div>
    <div class="event-host">
      <h1 class="host-title event-title">Your Host</h1>
      <% if @event.user.avatar.attached? %>
        <div class="host-avatar" style="background-image: url('<%= cl_image_path @event.user.avatar.key %>')"></div>
      <% else %>
        <div class="host-avatar">?</div>
      <% end %>
      <div class="host-info">
        <div class="host-name"><%= @event.user.first_name %> <%= @event.user.last_name %></div>
      </div>
    </div>
  </div>

  <div class="event-guest-map">
    <div class="guest-list">
      <div class="guest-cards">
        <%= image_tag "photo1.jpg"%>
        <%= image_tag "photo2.jpg"%>
        <%= image_tag "photo3.jpg"%>
      </div>
      <div class="guest-name">Guest name</div>
      <a href="" class="list-button button-invite">See list</a>
    </div>
    
    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"]%>">
    </div>

    <div class="invite-modal">
      <div class="invite-content">
        <div class="invite-email-input">
          <%= simple_form_for([@event, @invitation]) do |f| %>
            <%= f.input :receiver_email, label: false, placeholder: "Enter the email of your guest" %>
            <%= button_tag type: :submit, class: "invite-button" do %>
              <i class="far fa-paper-plane"></i>
            <% end %>
          <% end %>
        </div>
        <div class="invite-link-container">
          <div class="event-url"><%=  %></div>
          <div class="event-url-copy">Copy link</div>
        </div>
        <hr>
        <% @invitations.each do |invitation| %>
          <div class="invitee">
            <div class="invitee-mail"><%= invitation.receiver_email %></div>
            <div class="invitee-status">
              <% case invitation.status %>
              <% when "accepted" %>
                <div class="invitation-status-accepted">Accepted</div>
              <% when "pending" %>
                <div class="invitation-status-pending">Pending</div>
              <% when "declined" %>
                <div class="invitation-status-declined">Declined</div>
              <% end %>
            </div>
            <div class="invite-delete">
              <%= link_to invitation_path(invitation), title: "Delete invitation", method: "delete" do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        <% end %>
        <button id="close-button"><i class="far fa-window-close"></i></button>
      </div>
    </div>
  </div>

  <div class="event-items-playlist">
    <div class="bring-list">
      <div class="items">
      </div>
      <div class="bring-form">
          <input id="item-input" type="text" placeholder="Add what you will bring!">
          <div class="add-item" >
            <%= link_to do %>
                <i class="far fa-plus-square"></i>
            <% end %>
          </div>
      </div>
    </div>
    <div class="playlist">
    <iframe src="https://open.spotify.com/embed/playlist/0K0RsJ0xxaTDZIKQ1vszY3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>

  <div class="event-chat"> 
    <div class="chat-box">
    </div>
    <div class="chat-form">
      <input id="chat-input" type="text" placeholder="Talk to the other guests here...">
            <div class="send-button" >
              <%= link_to do %>
                  <i class="far fa-paper-plane"></i>
              <% end %>
            </div>
    </div>
  </div>
</div>