<h1><%= @event.title %></h1>
<h2><%= @event.location %></h2>
<p><%= @event.scheduled_at %></p>

<p><%= @event.description %></p>

<%= link_to "Edit Event", edit_event_path(@event) %>
<%= link_to "Delete Event", event_path(@event), method: :delete %>

<%= render "shared/footer" %>