<% if @event.is_invited?(current_user) || @event.user == current_user %>
  <div class="event-container">
    <div class="event-banner" style="background-image: <%=  "linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('#{cl_image_path(@event.banner.key)}')" if @event.banner.attached? %>" >
      <% if @event.user == current_user || current_user.admin? %>
        <%= link_to edit_event_path(@event), class: "button-create upload-button" do %>
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
    </div>

    <%= render "events/details" %>

    <% if @event.is_invited?(current_user) && @event.invitations.where(receiver: current_user).first.status == "pending" %>
      <div class="invite-options">
        <div class="section-header">The Invitation</div>
        <div class="invitation-text">Hey <%= current_user.full_name.strip.empty? ? "Somebody" : curren_user.full_name %>! You are invited to the event. You wanna join?</div>
        <div class="invite-choices">
          <div class="accept-invitation">
            <%= link_to invitation_path(@event.invitations.where(receiver: current_user).first, status: "accepted") , class: "accepting", method: "patch", remote: true do %>
              Accept
            <% end %>
          </div>
          <div class="decline-invitation">
            <%= link_to invitation_path(@event.invitations.where(receiver: current_user).first, status: "declined") , class: "declining", method: "patch", remote: true do %>
              Decline
          <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="guestlist-map-section">
      <div class="event-guestlist">
        <%= render "events/guest_list" %>
        <%= render "events/invite_modal" %>
        <div class="section-header">The Guests</div>
      </div>
      <%= render "events/location_map" %>
    </div>

    <div class="items-playlist" id='items-anchor' >
      <div class ='items-container'>
      <div class="section-header">The Bringlist</div>
        <div id='test'><%= render "shared/items_form_upgraded" %></div>
      </div>
      <div class ='playlist-container'>
        <div class="section-header">The Playlist</div>
        <div class="playlist">
          <% unless @event.spotify_playlist.strip.empty? %>
            <iframe src="https://open.spotify.com/embed/playlist/<%= @event.spotify_playlist %>" width="350" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <% else %>
            <div class="no-playlist">
              <% if current_user == @event.user %>
                <%= link_to "Add a Playlist", edit_event_path(@event), title: "Update event", class: "list-button button-invite" %>
              <% else %>
                No playlist added yet
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div >

    <div class="event-chat" id="user-<%= current_user.id %>"> 
      <%= render "events/chat" %>
  </div>

<% else %>
  <div class="event-error">
    <i class="fas fa-exclamation-triangle"></i>
    <div class="event-error-message">Sorry, but You are not invited to this event!</div>
  </div>
<% end %>