<div style="background-color:#DD1155; width:50%; height:50%; float:left">
    <div id="headers">
        <h1> Bring your friends together. </h1>
        <h2> Be the greatest host. </h2>
    </div>
</div>

<div id="drawing-area" style="background-color:#E8DDB5; width:50%; height:50%; float:right">
    <%= javascript_pack_tag 'script.js' %>
</div>

<div style="background-color:#E8DDB5; width:50%; height:50%; float:left">
    <div id="header-buttons">
        <a href="#search" class="button-main">Learn More</a> 
        <a href="#search" class="button-main">Launch</a>
    </div>
</div>

<div id="banner" style="background-color: #DD1155; width:50%; height:50%; float:right">
</div>


<div class="container">
    <div class="column">
        <%= image_tag "homepage-image-1.jpg" %>
    </div>
    <div class="column">
        <%= image_tag "homepage-image-2.jpg" %>
    </div>
    <div class="column">
        <%= image_tag "homepage-image-3.jpg" %>
    </div>
</div>

<div class="textblock">
    <h1> Plan. Create. Invite. Track. </h1>
     <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
     At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
     Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
     At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>

<section id="launch">
    <div class= "launch-form">
      <%= simple_form_for @event do |f| %>
          <div class="field">
              <%= f.input :title %>
          </div>

          <div class= "field">
              <%= f.input :location %>
          </div>

          <div class="field">
              <%= f.input :scheduled_at %>
          </div><br>
          <%= link_to "Create", new_event_path, class: "button-create-home" %> 
      <% end %>
    </div>
</section>

<%= render "shared/footer" %>
